//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-     title HodlInfo Clone
//-     link(rel="stylesheet" href="/styles.css")
//-   body
//-     h1 HodlInfo Clone
//-     table#crypto-table
//-       thead
//-         tr
//-           th Name
//-           th Last
//-           th Buy
//-           th Sell
//-           th Volume
//-           th Base Unit
//-       tbody
//-         // Data will be inserted here by main.js
//-     script(src="/js/main.js")


doctype html
html
  head
    title HodlInfo Clone
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/js/main.js')
  body
    h1 HodlInfo Clone
    table#crypto-table
      thead
        tr
          th Name
          th Last
          th Buy
          th Sell
          th Volume
          th Base Unit
      tbody
